<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Blogger - AddBlog</title>
</head>

<body>
    <%- include('./partials/navbar') %>
        <form action="/add-blog" method="post" enctype="multipart/form-data">
            <div class="container mt-3">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="title" type="text" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="coverPage" class="form-label">Cover Image Filename</label>
                    <input name="coverPage" class="form-control" type="file" placeholder="Enter image file name only">
                </div>
                <button type="submit" class="btn btn-primary">Add Blog</button>
            </div>
        </form>

</body>

</html>