<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Sign Up</title>
        <link rel="stylesheet" href="../public/css/signup.css">
</head>

<body>
    <%- include('./partials/navbar') %>
        <form action="/user/signup" method="post" class="row g-3 mt-5 mx-5">
            <div class="col-12">
                <label for="fullName" class="form-label">Full Name:</label>
                <input type="text" name="fullName" class="form-control" id="fullName">
            </div>

            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email">
            </div>

            <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <p>Already have an account? <a href="/user/login">Login here</a></p>
        </div>


        <%- include('./partials/script') %>
</body>

</html>